* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.auth-card {
  width: 400px;
  padding: 35px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.auth-card h1 {
  text-align: center;
  font-size: 28px;
  color: #222;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 28px;
}

.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.input-group input:focus {
  border-color: #6366f1;
}

button {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: #4f46e5;
}

.bottom-text {
  margin-top: 22px;
  text-align: center;
  color: #666;
  font-size: 14px;
}

.bottom-text a {
  color: #6366f1;
  text-decoration: none;
  font-weight: 600;
}

.bottom-text a:hover {
  text-decoration: underline;
}
.otp-input {
  text-align: center;
  letter-spacing: 6px;
  font-size: 18px;
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 13px;
}

.forgot-password a {
  color: #4f46e5;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
